<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Employee Page</title>
</head>
<body>
<div align="center">
    <h1>Employee Form</h1>
    <form action="#" th:action="@{/addEmployee}" method="post" th:object="${employee}" >
        
        <label>Employee Name:</label>
        <input type="text" th:field="*{ename}" name="ename" id="ename"/><br/>
 		<br/>
        <label>E-mail:</label>
        <input type="text" th:field="*{email}" name="email" id="email"/><br/>
 		<br/>
        <label>Location:</label>
        <input type="text" th:field="*{elocation}" name="elocation" id="elocation"/><br/>
 
       	<br/>
 
        <button type="submit">add</button>    
    </form>
</div>
</body>
</html>